.container {
    /* https://uiverse.io/ElSombrero2/tricky-robin-67 */
    background-color: rgb(236, 168, 42);
    width: 20%;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 3px 2px 5px 1px rgba(0, 0, 0, 0.81);
    text-shadow: 6px 4px 7px rgba(0, 0, 0, 0.6);
    /* display: flex;
    flex-direction: column; */
    margin-bottom: 2em;
    align-items: center;
    font-size: xx-small;
}

.container:hover {
    transform: scale(1.04);
    transition: transform 0.2s ease-in-out;
    box-shadow: 3px 2px 5px 5px rgba(252, 234, 79, 0.993);
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.81);
}

.container img:hover {
    transform: scale(1.04);
    transition: transform 0.2s ease-in-out;
}